table {
  tr > {
    td > a {
      cursor: pointer;
      i {
        color: red;
      }
    }
    td:first-child {
      & > a,
      & > a:hover {
        font-weight: bold;
        text-decoration: none;
      }
    }
    td:nth-child(3),
    td:nth-child(5) {
      text-align: center;
    }
  }
}

::ng-deep .popover-body .modal-footer {
  margin-top: 0.75rem;
  padding: 0.5rem 0 0 0;
  button {
    font-size: 13px;
    padding: 4px 8px;
    margin: 2px;
  }
}
