<table class="table">
    <colgroup>
      <col style="width:15%">
      <col style="width:62%">
      <col style="width:10%">
      <col style="width:10%">
      <col *ngIf="user$ | async" style="width:3%">
    </colgroup>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col">Priority</th>
      <th scope="col">Created</th>
      <th *ngIf="user$ | async" >Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let note of notes$ | async">
      <td scope="row">
        <a [routerLink]="'/detail/' + note.refId">{{note.title}}</a>
      </td>
      <td>
        <span [ngbPopover]="note.text" [triggers]="note.text.length > 80 ? 'hover' : ''" container="body">
          {{note.text | truncateText:80}}
        </span>
      </td>
      <td>
        <i class="fa" [ngClass]="'priority-' + Priority[note.priority]"></i>
      </td>
      <td>{{note.created | fbaseDate}}</td>
      <td *ngIf="user$ | async">
        <a [ngbPopover]="popContent" [autoClose]="false" triggers="manual" #pop="ngbPopover" (click)="pop.open()" placement="left">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>

        <ng-template #popContent>
          Are you sure you want to delete '{{note.title}}'?
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="pop.close()">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="popClose(pop, note.refId)">Ok</button>
          </div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
