<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" title="BSC Banking Software Company" href="https://www.bankingsoftware.company">
        <img src="../assets/images/logo-bsc2018-basic.svg" alt="BSC Banking Software Company">
      </a>

      <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngClass] = "{show:collapsed}">
        <ul class="navbar-nav mr-auto mt-3">
          <li *ngIf="user$ | async" class="nav-item" [ngClass]="{'active': location.path().indexOf('detail/new')>=0}">
            <a class="nav-link" routerLink="/detail/new">{{'app.new_note' | transloco }}</a>
          </li>
          <li *ngIf="location.path().indexOf('detail')>=0 && location.path().indexOf('new') < 0" class="nav-item active">
            <span class="nav-link">{{'app.detail' | transloco }}</span>
          </li>
          <li class="nav-item" [ngClass]="{'active': location.path().length==0}">
            <a class="nav-link" routerLink="/">{{'app.list' | transloco}}</a>
          </li>
          <li class="nav-item" [ngClass]="{'active': location.path().indexOf('cards')>=0}">
            <a class="nav-link" routerLink="/cards">{{'app.cards' | transloco}}</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-3">
          <ng-container *ngIf="(user$ | async) as user;else notUser">
            <li class="nav-item" ngbDropdown placement="bottom-right">
              <a class="nav-link" ngbDropdownToggle id="navbarDropdownUser" role="button" [title]="'app.signed_user' | transloco">
                {{user.email}}
              </a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdownUser" class="dropdown-menu">
                <a ngbDropdownItem (click)="signOut()">{{'app.sign_out' | transloco}}</a>
              </div>
            </li>
          </ng-container>
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" ngbDropdownToggle id="navbarDropdownLang" role="button" [title]="activeLang">
              <i [ngClass]="activeLang + '-lang'"></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu">
              <a ngbDropdownItem (click)="activeLang=otherLang" [title]="otherLang">
                <i [ngClass]="otherLang + '-lang'"></i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main role="main" class="container">
    <router-outlet></router-outlet>
  </main>

  <ng-template #notUser>
    <li class="nav-item">
      <a class="nav-link" (click)="signIn()">{{'app.sign_in' | transloco}}</a>
    </li>
  </ng-template>
